@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --color1: #161b22;
    --color2: #0b0f14; 
    --color3: #fd7e14; 
    --color4: #d7ddf4; 
    --color5: #fefefe; 
    --color6: #e5e5e5; 
    --color7: #89bee8; 
    --color8: #3c8bcf; 
    --color9: #000000; 
}


body{
    background-color: var(--color5);
}
a{
    text-decoration: none;
    cursor: pointer;  
}

.bi{
    color: var(--color2);
    font-size: 1.2rem;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.navbar-expand-lg{
    background: var(--color6);
}
.nav-item a{
    color: var(--color9);
}
.nav-item a:hover{
    color: var(--color8);
}
.dropdown-menu{
    background-color: var(--color5);
}
.dropdown-item:hover{
    background: none;
}

.logohader{
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.logohader img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.register{
    display: flex;
    position: relative;
    margin: 20px auto;
    margin-top: 50px;
    width: 1100px;
    height: 500px;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    overflow: hidden;
    background-color: var(--color6);
}

.row label,h1{
    color: var(--color9);
}
.form-check label,p{
    color: var(--color9);
}
.res{
    color: var(--color9);
    margin-left: 10px;
}
.register-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 100%;
    padding: 20px;
    
}

.teble{
    background-color: var(--color6);
    position: absolute;
    width: 550px;
    height: 100%;    
    z-index: 99;
    transform: translateX(550px);
    transition: transform 0.5s ease;
}
.teble.active{
    transform: translateX(0);
}

.logo{
    margin: auto;
    width: 500px;
    height: 500px; 
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}
.btn{
    border: none;
    border-radius: 15px;
    background-color: var(--color7);
    color: var(--color9);
}.btn:hover{background-color: var(--color8); color: var(--color9);}

@media screen and (max-width: 430px){
    .login{
        width: 350px; 
    }

    .teble{
        display: none;
    }

    .register{
      position: relative;
      flex-direction: column;
      width: 350px;
      height: 480px;
      overflow: hidden;
    }

    .register-item{
        position: absolute;
        width: 100%;

    }
    .in{
        transform: translateY(0);
        transition: transform 0.5s ease;
    }

    .up{
        transform: translateY(500px);
        transition: transform 0.5s ease;
    }
    .up.active{
        transform: translateY(0);
    }

    .in.active{
        transform: translateY(-500px);
    }

    .navbar-toggler{
        background-color: var(--color6);
    }
    
    
}